h1{
  font-family: 'Bebas Neue', cursive;
  color: #e28743

}

body{
  background-color: #eeeee4
}
h3{
  font-family: 'Radio Canada', sans-serif;
}

p{
  font-family: 'Radio Canada', sans-serif;
}

label{
  font-family: 'Radio Canada', sans-serif;
}

h2{
font-family: 'Bebas Neue', cursive;
color: #1e81b0
}

a{
  color: #76b5c5

}